---
import { getLanguageFromURL, loadContent } from "../../utils/i18n";

const currentLang = getLanguageFromURL(Astro.url.pathname);
const index = await loadContent("index", currentLang);
---

<div class="flex md:flex-row flex-col gap-40px items-stretch gap-8"></div>
