---
import Badge from "./Badge.astro";

export interface Option {
  id?: string;
  value: string;
  label: string;
  unit?: string;
  href?: string;
  tooltip?: string;
}

interface Props {
  href?: string;
  variant?: "primary" | "secondary";
  options?: Option[];
}

const { variant, options } = Astro.props as Props;

const variants = {
  primary:
    "bg-[var(--color-brand-deep-blue)] text-[var(--color-white)] hover:bg-[var(--color-brand-swiss)]",
  secondary:
    "bg-[var(--color-neutral-300)] text-[var(--color-brand-deep-blue)]",
};
const variantClass = variants[variant ?? "primary"];
---

<div
  class="w-full max-w-[600px] lg:max-w-none lg:w-auto mx-auto grid grid-cols-1 lg:grid-cols-3 rounded-[var(--radius-xl)] border border-[var(--color-brand-deep-blue)]"
>
  {
    options?.map((option, index) => (
      <a
        id={`badge-${index}-${options.length}`}
        href={option.href}
        target="_blank"
        class={`
          ${variantClass}
          flex flex-col justify-center
          transition-colors duration-200
          group
          relative
          ${index === 0 ? "rounded-t-[var(--radius-xl)] lg:rounded-l-[var(--radius-xl)] lg:rounded-tr-none" : ""}
          ${index === (options?.length ?? 0) - 1 ? "rounded-b-[var(--radius-xl)] lg:rounded-r-[var(--radius-xl)] lg:rounded-bl-none" : ""}
          ${index > 0 ? "lg:border-l border-t lg:border-t-0 border-white" : ""}
        `}
      >
        <Badge {...option} />
      </a>
    ))
  }
</div>