---
import Badge from "./Badge.astro";

export interface Option {
  id?: string;
  value: string;
  label: string;
  unit?: string;
  href?: string;
}

interface Props {
  href?: string;
  variant?: "primary" | "secondary";
  options?: Option[];
}

const { variant, options } = Astro.props as Props;

const variants = {
  primary:
    "bg-[var(--color-brand-deep-blue)] text-[var(--color-white)] hover:bg-[var(--color-brand-swiss)]",
  secondary:
    "bg-[var(--color-neutral-300)] text-[var(--color-brand-deep-blue)]",
};
const variantClass = variants[variant ?? "primary"];
---

<div
  class={` bg-[var(--color-brand-deep-blue)] w-full  mx-auto flex lg:flex-row flex-col justify-between items-center rounded-xl`}
>
  {
    options?.map((option, index) => (
      <a
        id={`badge-${index}-${options.length}`}
        href={option.href}
        class={`${variantClass} 
          flex items-center 
          w-full 
          h-full 
          flex-1 
          ${index === 0 ? "rounded-l-xl" : ""} ${index === options.length - 1 ? "rounded-r-xl" : "border-r md:border-white "} cursor-pointer`}
        target="_blank"
      >
        <Badge {...option} />
      </a>
    ))
  }
</div>
