---
import type { Option } from "./BadgeContainer.astro";

interface Props extends Option {}

const { label, value, unit, tooltip } = Astro.props as Props;
---

<div class="flex flex-col items-start group w-full lg:px-8 px-5 lg:py-5 py-4">
  <div class="flex items-center gap-2">
    <div class="relative inline-flex items-center">
      <h3 class="ty-regular whitespace-nowrap">{label.toUpperCase()}</h3>
      {
        tooltip && (
          <span class="relative group/tooltip ml-1">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-4 h-4 inline-block cursor-help opacity-70 hover:opacity-100"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
              />
            </svg>
            <span
              class="absolute left-1/2 -translate-x-1/2 bottom-full mb-2 w-64
                     bg-gray-800 text-white text-xs rounded-md px-3 py-2
                     opacity-0 group-hover/tooltip:opacity-100
                     pointer-events-none transition-opacity duration-200 z-10"
            >
              {tooltip}
              <span class="absolute left-1/2 -translate-x-1/2 top-full -mt-1 w-2 h-2 rotate-45 bg-gray-800" />
            </span>
          </span>
        )
      }
    </div>
    <img
      src="/images/arrow_outward.svg"
      loading="lazy"
      alt=""
      class="w-6 h-6 opacity-0 group-hover:opacity-100 transition-opacity duration-50"
    />
  </div>
  <div class="flex items-start gap-2 whitespace-nowrap">
    <p class="ty-big-2">{value}</p>
    <p class="ty-big-3">{unit}</p>
  </div>
</div>