---
import Badge from "./Badge.astro";

export interface Option {
  id?: string;
  value: string;
  label: string;
  unit?: string;
  href?: string;
}

interface Props {
  href?: string;
  variant?: "primary" | "secondary";
  options?: Option[];
}

const { variant, options } = Astro.props as Props;

const variants = {
  primary:
    "bg-[var(--color-brand-deep-blue)] text-[var(--color-white)] hover:bg-[var(--color-brand-swiss)]",
  secondary:
    "bg-[var(--color-neutral-300)] text-[var(--color-brand-deep-blue)]",
};
const variantClass = variants[variant ?? "primary"];
---

<div
  class={` bg-[var(--color-brand-deep-blue)] flex items-center justify-center md:flex-row flex-col gap-40px  rounded-xl`}
>
  {
    options?.map((option, index) => (
      <a
        id={`badge-${index}-${options.length}`}
        href={option.href}
        class={`${variantClass} 
          flex items-center 
          w-full
          h-full 
          flex-1 
          bg-transparent
          p-[var(--spacing-l)]`}
        target="_blank"
      >
        <Badge {...option} />
      </a>
    ))
  }
</div>
