---
import Badge from "./Badge.astro";

export interface Option {
  id?: string;
  value: string;
  label: string;
  unit?: string;
  href?: string;
}

interface Props {
  href?: string;
  variant?: "primary" | "secondary";
  options?: Option[];
}

const { variant, options } = Astro.props as Props;

const variants = {
  primary:
    "bg-[var(--color-brand-deep-blue)] text-[var(--color-white)] hover:bg-[var(--color-brand-swiss)]",
  secondary:
    "bg-[var(--color-neutral-300)] text-[var(--color-brand-deep-blue)]",
};
const variantClass = variants[variant ?? "primary"];
---

<div
  class="w-full max-w-[500px] lg:max-w-none lg:w-auto mx-auto flex flex-col lg:flex-row justify-center items-stretch rounded-[var(--radius-xl)] overflow-hidden border border-[var(--color-brand-deep-blue)]"
>
  {
    options?.map((option, index) => (
      <a
        id={`badge-${index}-${options.length}`}
        href={option.href}
        target="_blank"
        class={`
          ${variantClass}
          w-full
          flex flex-col justify-center
          transition-colors duration-200
          group
          ${index > 0 ? "lg:border-l border-t lg:border-t-0 border-white" : ""}
        `}
      >
        <Badge {...option} />
      </a>
    ))
  }
</div>
