---
interface Props {
  faqs: any[];
}

const { faqs } = Astro.props;
---
  
    <div class="divide-y divide-gray-200 border border-gray-200 rounded-3xl px-2.5 py-0 ">
      {faqs.map((faq, index) => (
        <div x-data="{ open: false }" class="px-5 py-4">
          <!-- Header -->
          <button
            class="w-full flex justify-between items-center text-left font-medium text-gray-900 hover:text-black focus:outline-none gap-5"
            x-on:click="open = !open"
          >
            <h4 class="ty-body-1 ty-semiblack pt-6 pb-2.5">{faq.question}</h4>
            <span class="text-2xl leading-none" x-text="open ? '−' : '+'"></span>
          </button>
  
          <!-- Content -->
          <div
            class="mt-2 text-gray-700 text-sm leading-relaxed"
            x-show="open"
            x-transition
          >
            <p set:html={faq.answer} class="ty-body-1 " />
          </div>
        </div>
      ))}
    </div>