---
import { getLanguageFromURL, loadContent } from "../../utils/i18n";

const currentLang = getLanguageFromURL(Astro.url.pathname);
const index = await loadContent("index", currentLang);
---

<div class="space-y-6">
  <div class="grid grid-cols-1">
    {
      index.ecosystem.actions?.map((action) => (
        <a
          href={action.href}
          class=" flex items-center justify-start"
        >
          <p class="font-black text-[var(--color-gray-75)] ">{action.label}</p>
          <img
            src="/images/arrow_outward_2.svg"
            loading="lazy"
            alt={action.label}
            class="w-4 h-4"
          />
        </a>
      ))
    }
  </div>
</div>
