---
import { getLanguageFromURL, loadContent } from "../../utils/i18n";
import Button from "../Button/Button.astro";
import LogoBlock from "../Layout/LogoBlock.astro";

const currentLang = getLanguageFromURL(Astro.url.pathname);
const index = await loadContent("index", currentLang);
---

<LogoBlock>
  <div
    class="grid grid-cols-[repeat(auto-fit,minmax(160px,1fr))] sm:grid-cols-[repeat(auto-fit,minmax(180px,1fr))] md:grid-cols-[repeat(auto-fit,minmax(200px,1fr))] auto-rows-auto grid-flow-row gap-[24px] md:gap-[10px] place-content-center place-items-center w-full max-w-[clamp(320px,90vw,1200px)] h-auto mx-auto px-[clamp(8px,3vw,24px)] pt-0 text-center"
  >
    {
      index.ecosystem.partners.map((partner) => (
        <Button href={partner.href} variant="ghost">
          <img
            src={partner.image}
            alt={partner.altText}
            height="40"
            loading="lazy"
            class="hover:scale-110 transition"
          />
        </Button>
      ))
    }
  </div>
</LogoBlock>
