---
import index from "../../content/index.json";
import LogoBlock from "../Layout/LogoBlock.astro";
---

<LogoBlock>
  <div class="flex flex-wrap justify-center content-center gap-8">
    {
      index.ecosystem.partners.map((partner) => (
        <div class="flex items-center justify-center w-[160px] sm:w-[180px] md:w-[200px]">
          <img
            src={partner.image}
            alt={partner.altText}
            height="40"
            loading="lazy"
            class="hover:scale-110 transition"
          />
        </div>
      ))
    }
  </div>
</LogoBlock>
