---
import Surface from "../Surface/Surface.astro";
import index from "../../content/index.json";
interface Props {
  features: typeof index.core_features.features;
}
const { features } = Astro.props;
---

<div class="grid grid-cols-1 md:grid-cols-4 gap-6">
  {features.map((feature) => <Surface {...feature} />)}
</div>
