---
import ChainCard from "../ChainCard/ChainCard.astro";
import token from "../../content/token.json";

interface Props {
  tokens: typeof token.tokens.chains;
}

const { tokens } = Astro.props;
---

<div class="grid grid-cols-1 md:grid-cols-3 gap-4">
  {tokens.map((token) => <ChainCard {...token} />)}
</div>
