---
import { getLanguageFromURL, loadContent } from "../../utils/i18n";
import ChainCard from "../ChainCard/ChainCard.astro";

const currentLang = getLanguageFromURL(Astro.url.pathname);
const token = await loadContent("token", currentLang);

interface Props {
  tokens: typeof token.tokens.chains;
}

const { tokens } = Astro.props;
---

<div class="grid grid-cols-1 md:grid-cols-3 gap-4">
  {tokens.map((token) => <ChainCard {...token} />)}
</div>
