---
import index from "../../content/index.json";
import LogoBlock from "../Layout/LogoBlock.astro";
---

<LogoBlock>
  <div
    class="flex flex-wrap md:flex-col justify-center content-center gap-10 h-[200px]"
  >
    {
      index.audits.partners.map((partner) => (
        <img
          class="w-[150px] md:w-[200px] hover:scale-120 transition"
          src={partner.image}
          alt={partner.altText}
          height="40"
          loading="lazy"
        />
      ))
    }
  </div>
</LogoBlock>
