---
import type { Option } from "../BadgeContainer/BadgeContainer.astro";

interface Props extends Option {}

const { label, value, unit } = Astro.props as Props;
---

<div
  class="w-full flex flex-col items-start py-3 px-5 group border-1 border-[var(--color-gray-20)] rounded-xl"
>
  <div class="flex items-center gap-2">
    <h3 class="ty-xs tracking-wider">{label.toUpperCase()}</h3>
    <img
      src="images/arrow_outward.svg"
      loading="lazy"
      alt=""
      class="w-6 h-6 opacity-0 group-hover:opacity-100 transition-opacity duration-50"
    />
  </div>
  <div class="flex md:flex-row flex-col items-start md:gap-2 gap-0">
    <p class="ty-big-2">{value}</p>
    <p class="ty-xs">{unit}</p>
  </div>
</div>
